.svg-arrow {
	background: url("sprite.css-dba0a075.svg") 67.94871794871794% 64.70588235294117% no-repeat;
}

.svg-arrow-x {
	width: 16px;
	height: 17px;
}

.svg-arrow-act {
	background: url("sprite.css-dba0a075.svg") 70% 64.70588235294117% no-repeat;
}

.svg-arrow-act-x {
	width: 16px;
	height: 17px;
}

.svg-arrow2 {
	background: url("sprite.css-dba0a075.svg") 99.48253557567917% 49.87080103359173% no-repeat;
}

.svg-arrow2-x {
	width: 23px;
	height: 8px;
}

.svg-arrow3 {
	background: url("sprite.css-dba0a075.svg") 92.98469387755102% 51.679586563307495% no-repeat;
}

.svg-arrow3-x {
	width: 12px;
	height: 8px;
}

.svg-cart {
	background: url("sprite.css-dba0a075.svg") 60.49222797927461% 67.54617414248021% no-repeat;
}

.svg-cart-x {
	width: 24px;
	height: 24px;
}

.svg-cart-big-img {
	background: url("sprite.css-dba0a075.svg") 100% 0 no-repeat;
}

.svg-cart-big-img-x {
	width: 284px;
	height: 315px;
}

.svg-check {
	background: url("sprite.css-dba0a075.svg") 100% 40.90909090909091% no-repeat;
}

.svg-check-x {
	width: 11px;
	height: 12px;
}

.svg-check2 {
	background: url("sprite.css-dba0a075.svg") 0 0 no-repeat;
}

.svg-check2-x {
	width: 512px;
	height: 512px;
}

.svg-check3 {
	background: url("sprite.css-dba0a075.svg") 99.7452229299363% 52.91828793774319% no-repeat;
}

.svg-check3-x {
	width: 11px;
	height: 11px;
}

.svg-check4 {
	background: url("sprite.css-dba0a075.svg") 96.42857142857143% 48.517520215633425% no-repeat;
}

.svg-check4-x {
	width: 40px;
	height: 40px;
}

.svg-close {
	background: url("sprite.css-dba0a075.svg") 63.601036269430054% 67.54617414248021% no-repeat;
}

.svg-close-x {
	width: 24px;
	height: 24px;
}

.svg-del {
	background: url("sprite.css-dba0a075.svg") 92.6896551724138% 57.46478873239437% no-repeat;
}

.svg-del-x {
	width: 71px;
	height: 72px;
}

.svg-list1 {
	background: url("sprite.css-dba0a075.svg") 99.87012987012987% 47.61904761904762% no-repeat;
}

.svg-list1-x {
	width: 26px;
	height: 26px;
}

.svg-list2 {
	background: url("sprite.css-dba0a075.svg") 43.76623376623377% 67.72486772486772% no-repeat;
}

.svg-list2-x {
	width: 26px;
	height: 26px;
}

.svg-list3 {
	background: url("sprite.css-dba0a075.svg") 47.142857142857146% 67.72486772486772% no-repeat;
}

.svg-list3-x {
	width: 26px;
	height: 26px;
}

.svg-list4 {
	background: url("sprite.css-dba0a075.svg") 50.51948051948052% 67.72486772486772% no-repeat;
}

.svg-list4-x {
	width: 26px;
	height: 26px;
}

.svg-list5 {
	background: url("sprite.css-dba0a075.svg") 53.896103896103895% 67.72486772486772% no-repeat;
}

.svg-list5-x {
	width: 26px;
	height: 26px;
}

.svg-list6 {
	background: url("sprite.css-dba0a075.svg") 57.27272727272727% 67.72486772486772% no-repeat;
}

.svg-list6-x {
	width: 26px;
	height: 26px;
}

.svg-logo {
	background: url("sprite.css-dba0a075.svg") 88.42832469775475% 45.71843251088534% no-repeat;
}

.svg-logo-x {
	width: 217px;
	height: 93px;
}

.svg-logo-del4 {
	background: url("sprite.css-dba0a075.svg") 34.42857142857143% 74.63556851311954% no-repeat;
}

.svg-logo-del4-x {
	width: 96px;
	height: 96px;
}

.svg-menu-icon1 {
	background: url("sprite.css-dba0a075.svg") 98.51351351351352% 41.06910039113429% no-repeat;
}

.svg-menu-icon1-x {
	width: 56px;
	height: 15px;
}

.svg-menu-icon2 {
	background: url("sprite.css-dba0a075.svg") 97.59036144578313% 43.02477183833116% no-repeat;
}

.svg-menu-icon2-x {
	width: 49px;
	height: 15px;
}

.svg-menu-icon3 {
	background: url("sprite.css-dba0a075.svg") 97.32977303070761% 44.98044328552803% no-repeat;
}

.svg-menu-icon3-x {
	width: 47px;
	height: 15px;
}

.svg-minus {
	background: url("sprite.css-dba0a075.svg") 80.76923076923077% 64.62140992167102% no-repeat;
}

.svg-minus-x {
	width: 16px;
	height: 16px;
}

.svg-phone {
	background: url("sprite.css-dba0a075.svg") 65.80976863753213% 64.70588235294117% no-repeat;
}

.svg-phone-x {
	width: 18px;
	height: 17px;
}

.svg-play {
	background: url("sprite.css-dba0a075.svg") 98.28042328042328% 54.98652291105121% no-repeat;
}

.svg-play-x {
	width: 40px;
	height: 40px;
}

.svg-plus {
	background: url("sprite.css-dba0a075.svg") 82.82051282051282% 64.62140992167102% no-repeat;
}

.svg-plus-x {
	width: 16px;
	height: 16px;
}

.svg-search {
	background: url("sprite.css-dba0a075.svg") 66.70984455958549% 67.54617414248021% no-repeat;
}

.svg-search-x {
	width: 24px;
	height: 24px;
}

.svg-search-img {
	background: url("sprite.css-dba0a075.svg") 0 100% no-repeat;
}

.svg-search-img-x {
	width: 241px;
	height: 270px;
}

.svg-soc1 {
	background: url("sprite.css-dba0a075.svg") 72.14377406931965% 64.70588235294117% no-repeat;
}

.svg-soc1-x {
	width: 17px;
	height: 17px;
}

.svg-soc2 {
	background: url("sprite.css-dba0a075.svg") 74.32605905006419% 64.70588235294117% no-repeat;
}

.svg-soc2-x {
	width: 17px;
	height: 17px;
}

.svg-soc3 {
	background: url("sprite.css-dba0a075.svg") 100% 58.79265091863517% no-repeat;
}

.svg-soc3-x {
	width: 21px;
	height: 20px;
}

.svg-soc4 {
	background: url("sprite.css-dba0a075.svg") 76.50834403080873% 64.70588235294117% no-repeat;
}

.svg-soc4-x {
	width: 17px;
	height: 17px;
}

.svg-soc5 {
	background: url("sprite.css-dba0a075.svg") 78.69062901155327% 64.70588235294117% no-repeat;
}

.svg-soc5-x {
	width: 17px;
	height: 17px;
}

.svg-start-act {
	background: url("sprite.css-dba0a075.svg") 99.74358974358974% 43.02477183833116% no-repeat;
}

.svg-start-act-x {
	width: 16px;
	height: 15px;
}

.svg-start-dis {
	background: url("sprite.css-dba0a075.svg") 99.48717948717949% 44.98044328552803% no-repeat;
}

.svg-start-dis-x {
	width: 16px;
	height: 15px;
}

.svg-toggler {
	background: url("sprite.css-dba0a075.svg") 97.25130890052355% 59.733333333333334% no-repeat;
}

.svg-toggler-x {
	width: 32px;
	height: 32px;
}

.svg-tooltip {
	background: url("sprite.css-dba0a075.svg") 80.50314465408805% 58.70503597122302% no-repeat;
}

.svg-tooltip-x {
	width: 160px;
	height: 87px;
}

